

<div>
  <div>
    <h1>
     <i class="fa-solid fa-dumbbell"></i> All User Workouts <i class="fa-solid fa-dumbbell"></i>
    </h1>
  </div>
</div>

<hr>
<% if session.fetch(:user_id) == nil %>
Sign up or sign in above to add your workouts!
<% else %>
<div>
  <div>
    <h2>
      Add a New Workout!
    </h2>


    <form action="/insert_workout" method="post">

      <input type="hidden" name="user_id" value="<%= session.fetch(:user_id) %>" >

      <div>
        <label for="date_box">
          <i class="fa-regular fa-calendar-days"></i> Date
        </label>

        <input type="date" id="date_box" name="query_date">
      </div>

      <div>
        <label for="muscle_target_box">
          <i class="fa-solid fa-bullseye"></i> Muscle Target
        </label>

        <input type="text" id="muscle_target_box" name="query_muscle_target" placeholder="What was your focus area?">
      </div>

      <div>
        <label for="quality_box">
          <i class="fa-solid fa-chart-line"></i> Quality
        </label>

        <input type="integer" id="quality_box" name="query_quality" placeholder="Scale 1 (Low) - 5 (High)">
      </div>

      <div>
        <label for="location_box">
          <i class="fa-solid fa-location-pin"></i> Location
        </label>

        <input type="text" id="location_box" name="query_location" placeholder="Where'd you workout?">
      </div>

      <button>
        Create Workout
      </button>
    </form>
  </div>
</div>
<% end %>
<hr>
<div>
  <div>
    <table border="1">
      <tr>


        <th>
          User
        </th>

        <th>
          Date
        </th>

        <th>
          Muscle Target
        </th>

        <th>
          Quality
        </th>

        <th>
          Location
        </th>

        <th>
          Details
        </th>
      </tr>

      <% @list_of_workouts.each do |a_workout| %>
      <tr>


        <td>
          <%#= a_workout.user_id %> 
          <%= a_workout.owner.first_name.capitalize %> <%= a_workout.owner.last_name.capitalize %>

        </td>

        <td>
          <%= a_workout.date.strftime("%m/%d/%Y") %>
        </td>

        <td>
          <%= a_workout.muscle_target %>
        </td>

        <td>
          <%= a_workout.quality %>
        </td>

        <td>
          <%= a_workout.location %>
        </td>

        <td>
          <a href="/workouts/<%= a_workout.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
