
<h2>
Summary of Workouts
</h2>

<p>
Total Number of Workouts Performed: <%= @workouts.count %>
</p>
<p>
Total Number of Exercises Performed: <%#= @exercises.count %>
</p>
<p>
Total Number of Reps Performed: 
</p>
<p>
Total Number of Sets Performed: 
</p>
<p>
Last Workout Date: <%= @list_of_workouts.at(0).date %>
</p>


<h2>
Heaviest Lifts (Weight) by Exercise
</h2>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          User
        </th>

        <th>
          Date
        </th>

        <th>
          Muscle target
        </th>

        <th>
          Quality
        </th>

        <th>
          Location
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_workouts.each do |a_workout| %>
      <tr>
        <td>
          <%= a_workout.id %>
        </td>

        <td>
          <%#= a_workout.user_id %> 
          <%= a_workout.owner.first_name.capitalize %> <%= a_workout.owner.last_name.capitalize %>

        </td>

        <td>
          <%= a_workout.date %>
        </td>

        <td>
          <%= a_workout.muscle_target %>
        </td>

        <td>
          <%= a_workout.quality %>
        </td>

        <td>
          <%= a_workout.location %>
        </td>

        <td>
          <%= time_ago_in_words(a_workout.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_workout.updated_at) %> ago
        </td>

        <td>
          <a href="/workouts/<%= a_workout.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
