<div>
  <div>
    <h1>
      All User Exercises
    </h1>
  </div>
</div>

<hr>

<% if session.fetch(:user_id) == nil %>
Sign up or sign in above to add your exercises!
<% else %>
<div>
  <div>
    <h2>
      Add a New Exercise
    </h2>

    <form action="/insert_exercise" method="post">

      <input type="hidden" name="user_id" value="<%= session.fetch(:user_id) %>" >


      <div>
        <label for="workout_id_box">
          <i class="fa-solid fa-dumbbell"></i> Workout
        </label>

        
        <select name="query_workout_id">
          <% Workout.where({ :user_id => session.fetch(:user_id)}).order({ :id => :desc}).each do |a_workout| %>
            <option>
              <%= a_workout.date.strftime("%m/%d/%Y") %>: <%= a_workout.muscle_target %>
            </option>
          <% end %>
        </select>

      </div>

      <div>
        <label for="exercise_name_box">
          <i class="fa-solid fa-list-check"></i> Exercise Name
        </label>

        <input type="text" id="exercise_name_box" name="query_exercise_name">
      </div>

      <div>
        <label for="weight_box">
          <i class="fa-solid fa-gears"></i> Weight
        </label>

        <input type="text" id="weight_box" name="query_weight">
      </div>

      <div>
        <label for="reps_box">
          <i class="fa-solid fa-hammer"></i> Reps
        </label>

        <input type="text" id="reps_box" name="query_reps">
      </div>

      <div>
        <label for="sets_box">
          <i class="fa-solid fa-calculator"></i> Sets
        </label>

        <input type="text" id="sets_box" name="query_sets">
      </div>

      <div>
        <label for="description_box">
          <i class="fa-solid fa-book"></i> Description
        </label>

        <input type="text" id="description_box" name="query_description">
      </div>

      <button>
        Add Exercise
      </button>
    </form>
  </div>
</div>
<% end %>

<hr>
<div>
  <div>
    <table border="1">
      <tr>

        <th>
          User
        </th>

        <th>
          Workout
        </th>

        <th>
          Exercise Name
        </th>

        <th>
          Weight
        </th>

        <th>
          Reps
        </th>

        <th>
          Sets
        </th>

        <th>
          Description
        </th>

        <th>
          Details
        </th>
      </tr>

      <% @list_of_exercises.each do |an_exercise| %>
      <tr>

        <td>
          <%= an_exercise.workout.owner.first_name.capitalize %>
          <%= an_exercise.workout.owner.last_name.capitalize %>

        </td>

        <td>
          <%= an_exercise.workout.date.strftime("%m/%d/%Y") %>: <%= an_exercise.workout.muscle_target %>
        </td>

        <td>
          <%= an_exercise.exercise_name %>
        </td>

        <td>
          <%= an_exercise.weight %>
        </td>

        <td>
          <%= an_exercise.reps %>
        </td>

        <td>
          <%= an_exercise.sets %>
        </td>

        <td>
          <%= an_exercise.description %>
        </td>


        <td>
          <a href="/exercises/<%= an_exercise.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
