<div>
  <div>
    <h1>
      List of all exercises
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new exercise
    </h2>

    <form action="/insert_exercise" method="post">
      <div>
        <label for="workout_id_box">
          Workout
        </label>

        <input type="text" id="workout_id_box" name="query_workout_id">
      </div>

      <div>
        <label for="exercise_name_box">
          Exercise name
        </label>

        <input type="text" id="exercise_name_box" name="query_exercise_name">
      </div>

      <div>
        <label for="weight_box">
          Weight
        </label>

        <input type="text" id="weight_box" name="query_weight">
      </div>

      <div>
        <label for="reps_box">
          Reps
        </label>

        <input type="text" id="reps_box" name="query_reps">
      </div>

      <div>
        <label for="sets_box">
          Sets
        </label>

        <input type="text" id="sets_box" name="query_sets">
      </div>

      <div>
        <label for="description_box">
          Description
        </label>

        <input type="text" id="description_box" name="query_description">
      </div>

      <button>
        Create exercise
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          User
        </th>

        <th>
          Workout
        </th>

        <th>
          Exercise Name
        </th>

        <th>
          Weight
        </th>

        <th>
          Reps
        </th>

        <th>
          Sets
        </th>

        <th>
          Description
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_exercises.each do |an_exercise| %>
      <tr>
        <td>
          <%= an_exercise.id %>
          <%#= an_exercise.workouts.muscle_target %>
        </td>

        <td>
          <%= an_exercise.workout.owner.first_name.capitalize %>
          <%= an_exercise.workout.owner.last_name.capitalize %>

        </td>

        <td>
          <%= an_exercise.workout.muscle_target %>: <%= an_exercise.workout.date %>
        </td>

        <td>
          <%= an_exercise.exercise_name %>
        </td>

        <td>
          <%= an_exercise.weight %>
        </td>

        <td>
          <%= an_exercise.reps %>
        </td>

        <td>
          <%= an_exercise.sets %>
        </td>

        <td>
          <%= an_exercise.description %>
        </td>

        <td>
          <%= time_ago_in_words(an_exercise.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(an_exercise.updated_at) %> ago
        </td>

        <td>
          <a href="/exercises/<%= an_exercise.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
